* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: #D7D7D7;
    color: #273F4F;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 70px;
    margin: 0px;
}

h2 {
    font-size: 40px;
    margin: 0px;
}

h3 {
    font-size: 30px;
    margin: 0px;
        font-style: italic;
}

section {
    display: flex;
    width: 100%;
    height: 100vh;
}

.bttn {
    display: inline-block;
    padding: 20px 30px;
    border-radius: 25px;
    background: #FE7743;
    color: #FFFFFF;
    cursor: pointer;
    align-items: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
}

/* Navigation*/

nav {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    font-size: 20px;
    background-color: #273f4fe3;
    border-radius: 50px;
    z-index: 1000;
}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
}

nav ul li {
    list-style: none;
    margin: 40px;
}

nav ul li a {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.login {
    position: absolute;
    right: 50px;
    padding: 10px 20px;
    border-radius: 15px;
    background: #FE7743;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

/* Main */

section.main {
    flex: 2;
    display: flex;
    flex-direction: column;
    background: #6797b1;
    border-radius: 50px;
    padding: 50px;
}

section.main article {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section.main article .title {
    margin-top: 130px;
}

section.main article .description {
    margin: 40px;
}

section.main article .buttons {
    flex: 2;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 200px;
}

/*Informacion*/

section.informacion article{
    display: flex;
    width: 100%;
    
}

section.informacion figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 40%;
    margin: 0;
    background-color: #D7D7D7;
    border-radius: 50px;
}

section.informacion figure img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}

section.informacion .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    background: #FE7743;
    padding: 4vw;
    padding-bottom: 25px;
    border-radius: 50px;
    font-size: 22px;
}

/* Tramites */

section.tramites article {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    background: #273F4F;
    color: #D7D7D7;
    border-radius: 50px;
}

section.tramites .title {
    margin-top: 70px;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

section.tramites .container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

section.tramites .container .col {
    flex: 1;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

section.tramites .container .col h3{
    font-size: 22px;

}

section.tramites .container .col h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

section.tramites a {
    color: #273F4F;
    text-decoration: none;
    text-align: center;
    background: #FE7743;
    border-radius: 30px;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
    border: 2px solid transparent;
}

/* Sobre nosotros */

section.sobrenosotros article {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #D7D7D7;
    margin-top: 100px;
}

section.sobrenosotros article .mision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 20px;
    background: #6797b1;
    border-radius: 40px;
    padding: 30px;
}

section.sobrenosotros article .mision h2 {
    font-size: 70px;
}

section.sobrenosotros article .container {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    align-items: center;
    gap: 20px;
}

section.sobrenosotros article .container .col {
    flex: 1;
    text-align: center;
    border-radius: 50px;
    background: #6797b1;
    display: flex-end;
    padding: 30px;
}

/* Requisitos */
/* Licencias nuevas */

section.renovacion,
section.licenciasnuevas {
    flex: 2;
    display: flex;
    border-radius: 50px;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: #D7D7D7;
}

section.renovacion article,
section.licenciasnuevas article {
    flex: 1;
    justify-content: center;
}

section.renovacion article .title2,
section.renovacion article .title,
section.licenciasnuevas article .title {
    margin-top: 100px;
    text-align: center;
    align-items: center;
    background: #FE7743;
    padding: 20px;
    border-radius: 50px;
}

section.renovacion article .renovaciona,
section.renovacion article .renovacionp,
section.licenciasnuevas article .M, .P, .A, .T {
    display: flex;
}

section.renovacion article .container,
section.licenciasnuevas article .container {
    display: flex;
    flex-direction: column;
    color: #273F4F;
    background: #6797b1;
    border-radius: 50px;
    width: 70%;
    height: auto;
}

section.licenciasnuevas article .container h2 {
    background: #273F4F;
    padding: 10px;
    border-radius: 50px;
    color: #D7D7D7;
    text-align: center;
}

section.renovacion article .container li,
section.licenciasnuevas article .container li {
    line-height: 20px;
    margin-top: 20px;
    margin-left: 70px;
    line-height: 30px;
}

section.renovacion article .details,
section.licenciasnuevas article .details {
   display: flex;
   flex-direction: column;
   flex: 1;
}

section.renovacion article .details .price,
section.licenciasnuevas article .details .age, .price {
    flex-direction: column;
    background: #273F4F;
    border-radius: 50px;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 400;
}

/* Renovacion */

section.renovacion article .title {
    padding-top: 100px;
    margin-top: 0px;
}

section.renovacion article .title h2{
    font-style: italic;
}

section.renovacion article .container {
    background: #273F4F;
    color: #D7D7D7;
}

section.renovacion article .container li {
    margin-top: 30px;
}

section.renovacion article .renovacionp .container p {
    padding: 10px 30px;
    font-style: italic;
}

section.renovacion article .details .price {
    height: 200px;
    background: #6797b1;
    color: #273F4F;
}

section.renovacion article .title2 {
    margin-top: 0px;
}

section.renovacion article .renovaciona .details .price {
    height: 180px;
}

/* Duplicado */
