* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: #D7D7D7;
    color: #273F4F;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 70px;
    margin: 0px;
}

h2 {
    font-size: 40px;
    margin: 0px;
}

h3 {
    font-size: 30px;
    margin: 0px;
}

section {
    display: flex;
    width: 100%;
    height: 100vh;
}

.bttn {
    display: inline-block;
    padding: 20px 30px;
    border-radius: 25px;
    background: #FE7743;
    color: #FFFFFF;
    cursor: pointer;
    align-items: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
}

/* Navigation*/

nav {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    font-size: 20px;
    background-color: #273f4fe3;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    z-index: 1000;
}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
}

nav ul li {
    list-style: none;
    margin: 40px;
}

nav ul li a {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.login {
    position: absolute;
    right: 50px;
    padding: 10px 20px;
    border-radius: 15px;
    background: #FE7743;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

/* Main */

section.main {
    flex: 2;
    display: flex;
    flex-direction: column;
    background: #6797b1;
    border-radius: 50px;
    padding: 50px;
}

section.main article {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section.main article .title {
    margin-top: 130px;
}

section.main article .description {
    margin: 40px;
}

section.main article .buttons {
    flex: 2;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 200px;
}

/*Informacion*/

section.informacion article{
    display: flex;
    width: 100%;
    
}

section.informacion figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 40%;
    margin: 0;
    background-color: #D7D7D7;
    border-radius: 50px;
}

section.informacion figure img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}

section.informacion .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    background: #FE7743;
    padding: 4vw;
    padding-bottom: 25px;
    border-radius: 50px;
    font-size: 22px;
}

/* Tramites */

section.tramites article {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    background: #273F4F;
    color: #D7D7D7;
    border-radius: 50px;
}

section.tramites .title {
    margin-top: 80px;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}

section.tramites .container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

section.tramites .container .col {
    flex: 1;
    padding: 20px;
    font-size: 20px;
}

section.tramites .container .col h2 {
    font-size: 30px;
}