* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: #D7D7D7;
    color: #273F4F;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
    margin: 0px;
    padding: 15px 30px;
    color: #273F4F;
}

h2 {
    font-size: 30px;
    margin: 0px;
    padding: 25px;
}

h3 {
    font-size: 20px;
    margin: 0px;
        font-style: italic;
}

nav {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    font-size: 20px;
    background-color: #273f4fe3;
    border-radius: 50px;
    z-index: 1000;
}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
}

nav ul li {
    list-style: none;
    margin: 40px;
}

nav ul li a {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

article {
    display: flex;
    flex-direction: row;
}

.tittle {
    background-color: #FE7743;
    color: #fff;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}

.containerTramite {
    width: 100%;
    background-color: #273F4F;
    color: #D7D7D7;
    border-radius: 50px;
    padding: 5px 20px;
    font-size: 30px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.containerTramite {
    width: 100%;
    background-color: #273F4F;
    color: #D7D7D7;
    border-radius: 50px  50px 00px 0px;
    padding: 10px 20px;
    font-size: 30px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.containerTramite2 {
    width: 100%;
    background-color: #273F4F;
    color: #D7D7D7;
    border-radius: 0px  0px 50px 50px;
    padding: 0px 20px;
    font-size: 30px;
    align-items: center;
    display: flex;
}

.selector {
    width: 40vw;
    background-color: #6797b1;
    border-radius: 50px;
}

select {
    padding: 20px 20px;
    border-radius: 50px;
    background-color: #6797b1;
    border: 1px solid #273f4f93;
    color: #ffff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.button {
    padding: 15px 30px;
    border-radius: 30px;
    background: #FE7743;
    color: #273F4F;
    cursor: pointer;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    border: none; 
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.button:hover {
    background-color: #ff8e62;
}

.tittle2 {
    background-color: #FE7743;
    color: #fff;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 90px;
}

.container {
    flex-direction: column;
}

.QR {
    width: 59vw;
}

.QRholder {
    display: flex;
}

.QR h2{
    margin-top: 0px;
    width: 100%;
}

img {
    height: 300px;
    border-radius: 50px;
    margin-bottom: 0px;
}

.info {
    padding: 20px 30px;
    border-radius: 30px;
    background: #273F4F;
    color: #ffff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.containerUpload:hover {
    background-color: #7ea7bd;
}

.comprobante {
    background-color: #6797b1;
    border-radius: 50px;
    padding: 20px;
    font-size: 25px;
    width: 40vw;
}

input {
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #ff8e62;
    padding-right: 5px;
}